// IMPORTS
// ----------------------------------------------------------------
@use 'sass:color';
@use '../node_modules/@binaryknights/sass-mixins/scss/sass-mixins';

// INFO
// ----------------------------------------------------------------
// html is set to 62.5% so that all the REM measurements
// are based on 10px sizing. So basically 1.5rem = 15px :)
//
// hover and focus states are NOT included

// UNSTYLED ELEMENTS
// ----------------------------------------------------------------
// kbd
// samp
// legend
// fieldset
// figcaption
// figure

// BASE STYLE VARIABLES
// ----------------------------------------------------------------
$font-family: 'Open Sans', sans-serif;
$code-font-family: 'Inconsolata', monospace;

$black:         rgb(0 0 0);
$white:         rgb(255 255 255);
$primary:       rgb(51 195 240);

// BASE STYLES
// ----------------------------------------------------------------
:root {
  --color-primary: #{$primary};
  --color-black: #{$black};
  --color-white: #{$white};
  --color-font: #{rgb(33 37 41)};
  --color-border: #{rgb(206 212 218)};
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  text-size-adjust: 100%;
}

body {
  color: var(--color-font);
  font-weight: normal;
  font-size: 15px;
  font-family: $font-family;
  font-style: normal;
}

h1 {
  @include sass-mixins.header(
    $font-family, 300, 4rem
  );
}

h2 {
  @include sass-mixins.header(
    $font-family, 300, 3.4rem
  );
}

h3 {
  @include sass-mixins.header(
    $font-family, 300, 2.8rem
  );
}

p {
  margin-bottom: 1.5rem;
}

strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

ul {
  @include sass-mixins.list(
    $list-style: circle inside
  );
}

ol {
  @include sass-mixins.list(
    $list-style: decimal inside
  );
}

hr {
  @include sass-mixins.hr;
}

blockquote {
  @include sass-mixins.blockquote;
}

a {
  @include sass-mixins.anchor(
    $color: var(--color-primary)
  );
}

code {
  @include sass-mixins.code(
    $font-family: $code-font-family
  );
}

pre {
  @include sass-mixins.pre(
    $font-family: $code-font-family
  );
}

table {
  @include sass-mixins.table;
}

form {
  margin-bottom: 1.5rem;
}

label {
  display: block;
}

.field {
  @include sass-mixins.field(
    $border-radius: 0
  );

  max-width: 100%;
}

.button {
  @include sass-mixins.button(
    $padding: 0.8rem 2rem,
    $border-radius: 0
  );
  @include sass-mixins.button-color(
    $color: var(--color-font),
    $background-color: rgba($black, 0.1),
    $border: 0
  );

  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-primary {
  @include sass-mixins.button-color(
    $color: var(--color-white),
    $background-color: var(--color-primary),
    $border: 0
  );
}
