// RESETS
// ----------------------------------------------------------------

@use 'reset';

// GRID
// ----------------------------------------------------------------

@use 'grid';

// BASE STYLES
// ----------------------------------------------------------------

@use 'base';

// UTILITY HELPERS
// ----------------------------------------------------------------

@use '../node_modules/@binaryknights/sass-utilities/scss/sass-utilities';

// FRACTAL EXAMPLES
// ----------------------------------------------------------------

.example-grid .row > [class^=col] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-border);
}
