

<form>
    <p>
        <label>Field</label>
        <input type="text" class="field" placeholder="Enter some text ..">
    </p>
    <p>
        <label>Field</label>
        <select class="field">
            <option>Please choose an option ..</option>
            <option>Option One</option>
            <option>Option Two</option>
        </select>
    </p>
    <p>
        <label>Field</label>
        <textarea class="field" rows="5" cols="80" placeholder="Enter some text .."></textarea>
    </p>
    <p>
        <button class="button button-primary">button</button>    </p>
</form>
