<table class="table-striped">
    <caption>Some caption</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Created by</th>
            <th class="text-right">Created at</th>
            <th class="text-right">Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#">Some Thing</a></td>
            <td>Foo</td>
            <td>by Bilbo Baggins</td>
            <td class="text-right">23 minutes ago</td>
            <td class="text-right">£100.00</td>
        </tr>
        <tr>
            <td class="nowrap"><a href="#">Another Thing</a></td>
            <td>Bar</td>
            <td>by Frodo Baggins</td>
            <td class="text-right">1 hour ago</td>
            <td class="text-right">£99.00</td>
        </tr>
        <tr>
            <td><a href="#">Summit Else</a></td>
            <td>Wiz</td>
            <td>by Gandalf</td>
            <td class="text-right">01/01/2017 08:23 AM</td>
            <td class="text-right">£50.00</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td class="text-right"></td>
            <td class="text-right">£249.00</td>
        </tr>
    </tfoot>
</table>