<div class="example-grid">
    <div class="container-fluid">
        <div class="row">
            <div class="col order-sm-2">.col .order-sm-2</div>
            <div class="col order-sm-1">.col .order-sm-1</div>
        </div>
    </div>
</div>