

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/style.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap">
    <style>
        body {
            margin: 1.5rem;
        }
    </style>
    <title>Preview Layout</title>
</head>
<body>

<h1>H1, Some Header</h1>
<h2>H2, Some Header</h2>
<h3>H3, Some Header</h3>


</body>
</html>
