<form>
    <p>
        <label>Field</label>
        {{> @field-text}}
    </p>
    <p>
        <label>Field</label>
        {{> @field-select}}
    </p>
    <p>
        <label>Field</label>
        {{> @field-textarea}}
    </p>
    <p>
        {{> @button-primary}}
    </p>
</form>